
/* ------------------------------------------ HOME PAGE STYLES ------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.home-page {
  background-color: #fff6ea;
}

/* ---------------------------------- LEFT CONTAINER -> NAV, MENU ---------------------------------- */

.left-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30%;
  top: 0;
  left: 0;
}

/* ----------- NAVBAR ----------- */

 .Navbar {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #ff3b01, #ff721b);
  padding: 0.5rem;
  position: relative;
}

.user-profile {
  display: flex;
  align-items: center;
}

.profileImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user-name {
  color: white;
  text-decoration: none;
  font-family: 'Lato', serif;
  font-weight: bold;
  font-size: 1rem;
}

.nav-bttns-container {
  position: absolute;
  right: 0;
}

.nav-bttn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 8px 0 4px;
}

.nav-bttn img {
  width: 15px;
  height: auto;
  border-radius: 0;
}

/* ----------- MENU ----------- */

.menu {
  background-color: white;
  overflow-y: auto;
  padding: 0;
}

/* ----------- SETTINGS ----------- */

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings {
  font-family: 'Lato', serif;
  font-size: 0.6rem;
}

/* ---------------------------------- RIGHT CONTAINER -> RESTAURANTS ---------------------------------- */

.restaurants-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(-60%);
  width: 30%;
  height: 80%;
}

.restaurant-img,
.rest-bg {
  position: absolute;
  width: 90%;
}

.restaurant-img {
  width: 75%;
  height: 55%;
  transform: translateY(10%) translateX(8.5%);
}

.rest-name,
.next-bttn {
  text-align: center;
}

.rest-name {
  position: relative;
  font-family: "Alfa Slab One", serif;
  color: #ff3b01;
  font-size: 1.5rem;
  transform: translateY(880%) translateX(-10%);
  letter-spacing: 2px;
}
.rest-details {
  position: absolute;
  font-family: 'Lato', serif;
  font-weight: bold;
  font-size: 0.8rem;
  transform: translateY(1620%) translateX(50%);
}

.next-bttn-container {
  display: flex;
  justify-content: space-between;
  width: 120%;
  transform: translateY(200%) translateX(-12%);
}

.next-button {
  width: 10%;
  height: 5%;
}
.activity-bttn-container{
  display: flex;
  align-items: center;
  width: 90%;
  transform: translateY(400%) translateX(7%);
/*   outline: red 2px solid; */
}

.activity-bttn-container button {
margin: 10px;
}
.next-button,
.like-button,
.discard-button,
.refresh-button,
.fav-button,
.refresh-button,
.been-button {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.like-button,
.discard-button {
  width: 15%;
  height: 10%;
}

.refresh-button,
.fav-button,
.refresh-button,
.been-button {
  width: 10%;
  height: 10%;
  display: flex;
  align-content:flex-end;
}

.like-button,
.discard-button,
.refresh-button,
.fav-button,
.refresh-button,
.been-button {
  margin: 0;
}

.bttn-icon {
  width: 100%;
}
.dot {
  color: #ff3b01;
}