@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.setup-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    left: 50%;
}
.upload-paragraphs {
    display: flex;
    justify-content: space-between;
}
.setup-text {
    color: #ff3b01;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.8rem;
    margin: 1% 0;
}
.optional {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 0.6rem;
    color: grey;
    margin-left: 8px;
    margin-top: auto;
    display: flex;
    align-self: flex-end;
}
.select-location {
    background-color: #efecec;
    font-family: "Lato", sans-serif;
    font-style: italic;
    border: none;
    color: grey;
    width: 50%;
}

.logout {
    width: 5%;
    height: auto;
    background-color: #ff3b01;
}

.logout img {
    width: 5%;
    height: auto;
}
.image-upload {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .image-upload>input {
    visibility:hidden;
  } */

.upload-icon {
    width: 10%;
    cursor: pointer;
}